.Speedometer {
  position: relative;
  margin-left: 5%;
}

/* For mobile phones: */
.NumberImage {
  width: 100%;
  position: relative;
}

.NeedleImage {
  position: absolute;
  animation: Speedometer-needle-rotate 1s;
  animation-fill-mode: forwards;
  top: 35%;
  left: 20%;
  width: 60%;
}

.ScoreDetails{
  position: absolute;
  left: 33%;
  top: 25%;
  width: 30%;
}
.ScoreTag{
  font-size: 1.2em;
}

.ScoreData{
  font-weight: bold;
  font-size: 1.5em;
}

.SpeedText{
  position: absolute; 
  left: 28%;
  top: 85%;
  width: 40%;
}

.Type{
  font-size: 1.2em;
}

.Speed{
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
  /* For Desktop: */
  .Speedometer{
    margin: 0;
  }

  .NumberImage {
    width: 500px;
  }

  .NeedleImage {
    width: 260px;
    top: 180px;
    left: calc(50% - 130px);
  }

  .ScoreDetails {
    width: 300px;
    left: calc(50% - 160px);
    top: 100px;
  }

  .ScoreTag {
    font-size: 25px;
  }

  .ScoreData {
    font-size: 40px;
  }

  .SpeedText {
    width: 300px;
    top: 330px;
    left: calc(50% - 160px);
    position: absolute;
  }

  .Type {
    font-size: 25px;
  }

  .Speed {
    font-size: 35px;
  }
}

@keyframes Speedometer-needle-rotate {
  from {
    transform: rotate(-240deg);
  }
  to {
    transform: rotate(10deg);
  }
}
