.SpeedTestWidget {
  position: relative;
  margin-top: 40px;
}

.Download,
.Upload {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
}

.FlexParent {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  display: flex;
}

.Ping,
.Jitter,
.Filler {
  display: inline-block;
  font-size: 1em;
}

.Filler {
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  /* For Desktop: */
  .SpeedTestWidget {
    margin-top: 40px;
  }

  .Download,
  .Upload {
    font-size: 25px;
  }

  .Ping,
  .Jitter,
  .Filler {
    font-size: 20px;
  }

  .FlexParent {
    margin: 0;
    left: calc(50% - 250px);
    width: 500px;
  }
}
