html{
  height: 100%;
  widows: 100%;
  background-image: url('./Resources/Rectangle1.png');
  background-size: cover;
  background-position: center center;
}

.App{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
